table {
  @extend .table;
  @extend .table-striped;
}

blockquote {
  @extend .blockquote;
}

img {
  @extend .img-fluid;
  margin-bottom: 1rem;
}

.navbar {
  margin-bottom: 2rem;
  border-bottom: 0.125rem solid hsl(0, 0%, 30%);
}

.archive-year {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.archive-date {
  float: right;
  margin-left: 1rem;
}

.archive-item {
  margin-bottom: 0.5rem;
}

.footer-container {
  text-align: center;
}

.footer-icons {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

.footer-icon-links {
  text-decoration: none;
  color: #212529;
}

.footer-icon-links:hover,
.footer-icon-links:focus {
  text-decoration: none;
  color: #212529;
}

.archive-title {
  color: #212529;
}

.highlight {
  background-color: #272822;
}

pre.highlight {
  padding: 1rem;
}

.dark-avatar {
  display: none !important;
}

.light-avatar,
.dark-avatar {
  margin-right: 0.25rem !important;
}

@media (prefers-color-scheme: dark) {
  .footer-icon-links {
    text-decoration: none;
    color: #e1e1e1;
  }

  .footer-icon-links:hover,
  .footer-icon-links:focus {
    text-decoration: none;
    color: #e1e1e1;
  }

  .archive-title {
    color: #e1e1e1;
  }

  .light-avatar {
    display: none !important;
  }
  .dark-avatar {
    display: inline-block !important;
  }
}

.bibliography li {
  margin-bottom: 0.25rem;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}

.parent-flex-container {
  display: flex;
  height: 75vh; /* Example: make the container full screen height */
  width: 100%;
}

.child-div {
  /* Flex-grow can be used to make the child fill the remaining space */
  flex-grow: 1; 
  /* or just ensure the child occupies the parent's full dimensions */
  width: 100%;
  height: 100%;
  // background-color: lightgreen;
}

/* Position the author credit */
#script-author {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 1000;
}

#script-author a {
  color: #fff;
  text-decoration: underline;
}