html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.oswald-title {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1rem;
  font-size: 2rem;
  font-style: normal;
}
.oswald-title a {
  color: #fff;
}
.oswald-title a:hover {
  color: #ff00ff;
}

#artwork_info {
  z-index: 99;
  position: absolute;
  left: 0px;
  top: 0px;
  color: #fff;
  background-color: #33333399;
  padding: 0.75rem;
}